.mesosphere{
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 935px;
    
  }
  .sati{
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 935px;
    
  }